<h1>Welcome#index</h1>
<h2> :+1: </h2>

<%= link_to 'Blog', controller: 'articles' %><br>
<%= link_to 'users_page', controller: 'users' %><hr/>
<p> language changing localhost:3000/tr|en/articles ...</p>
